[user]
	name = Jerin Jacob
	email = jerinj@marvell.com

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p

[sendemail]
	smtpuser = jerinj@marvell.com
	smtpserver = smtp.office365.com
	smtpserverport = 587
	smtpencryption = tls
	confirm = auto
	chainreplyto=false
	transferEncoding=8bit
	from = jerinj@marvell.com

[sendemail "gmail"]
	smtpserver = smtp.gmail.com
	smtpuser = jerinjacobk@gmail.com
	smtpencryption = tls
	smtpserverport = 587
	chainreplyto = false

[push]
	default = simple

[color]
	ui = auto

[diff]
	algorithm = patience

[core]
	excludesfile = ~/.gitignore

[pw]
	server = http://dpdk.org/dev/patchwork/
	token = bf3fbecf5ec9cb41065542a5d4972ad6aa62d626
	project = dpdk

[gitreview]
	remote = origin
	username = jkollanukkaran
