#!/bin/bash

export DPDK_CHECKPATCH_PATH=/export/linux/scripts/checkpatch.pl
export DPDK_GETMAINTAINER_PATH=/export/linux/scripts/get_maintainer.pl
export DPDK_CHECKPATCH_CODESPELL=/usr/lib/python3.10/site-packages/codespell_lib/data/dictionary.txt
export LIBMUSDK_PATH=/home/jerin/musdk-marvell/usr/local/
export DPDK_ABI_REF_DIR=/home/jerin/abi

if echo $DPDK_TARGET | grep -q '^i[3-6]86' ; then
	export PKG_CONFIG_LIBDIR='/usr/lib32/pkgconfig'
elif echo $DPDK_TARGET | grep -q '^x86_64-w' ; then
	echo "MinGW"
elif echo $DPDK_TARGET | grep -q '^x86_64' ; then
	echo "x86_64"
elif echo $DPDK_TARGET | grep -q '^arm-' ; then
	echo "ARM32"
elif echo $DPDK_TARGET | grep -q '^a.*64-' ; then
	export DPDK_MESON_OPTIONS='c_args="-I/export/cross_prefix/prefix/include" c_link_args="-L/export/cross_prefix/prefix/lib"'
	export PKG_CONFIG_LIBDIR='/export/cross_prefix/prefix/lib/pkgconfig/'
elif echo $DPDK_TARGET | grep -q '^p.*pc.*64' ; then
	echo "POWERPPC"
fi

